body{
    background-color:antiquewhite;
}

ul{
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    list-style-type: none;
}

img{
    height:250px;
    width: 250px;
}

li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    padding:10px;
    background-color:rgb(137, 226, 181);
}

li:hover{
    cursor: pointer;
}

.head{
    display:flex;
    justify-content: center;
}

#title{
    margin-right: auto;
    margin-left: auto;
    font-size: 50px;
    font-weight: 700;
    margin-top: 15px;
}

.score{
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.score p{
    margin-bottom: 0;
    color:rgb(214, 3, 3);
}

#name{
    font-size: 30px;
}